version: 2.1

orbs:
  gusto: gusto/gusto@0.0.9

jobs:
  ruby-test:
    executor: gusto/ruby-2-3
    steps:
      - gusto/bundle-install
      - run: bundle exec rake
  integration-tests:
    executor: gusto/ruby-2-3
    steps:
      - gusto/bundle-install
      - gusto/yarn-install
      - run: yarn test
      - run: yarn lint
  release:
    executor: gusto/ruby-2-3
    steps:
      - gusto/yarn-install
      - run:
          command: |
            mkdir ~/.gem
            echo -e "---\r\n:rubygems_api_key: $GEM_HOST_API_KEY" > ~/.gem/credentials
            chmod 0600 /home/circleci/.gem/credentials
      - run: npx semantic-release --dry-run

workflows:
  version: 2
  main:
    jobs:
      - gusto/ruby-lint
      - ruby-test
      - integration-tests
      - release:
          filters:
            branches:
              only: master
          requires:
            - gusto/ruby-lint
            - ruby-test
            - integration-tests
