version: 2.1

orbs:
  gusto: gusto/gusto@0.0.13

commands:
  bundle-install:
    steps:
      - run:
          name: Configure Bundler
          command: |
            echo 'export BUNDLER_VERSION=$(cat Gemfile.lock | tail -1 | tr -d " ")' >> $BASH_ENV
            source $BASH_ENV
            gem install bundler
      - restore_cache:
          name: Restore Ruby Package Cache
          keys:
            - v2-gem-cache-{{ arch }}-{{ .Branch }}-{{ checksum "Gemfile.lock" }}
            - v2-gem-cache-{{ arch }}-{{ .Branch }}-
            - v2-gem-cache-{{ arch }}-
      - run:
          name: Install base Ruby dependencies
          command: |
            bundle install --jobs=4 --retry=3 --path=vendor/bundle
      - save_cache:
            name: Save Ruby Package Cache
            key: v2-gem-cache-{{ arch }}-{{ .Branch }}-{{ checksum "Gemfile.lock" }}
            paths:
              - ./vendor/bundle
  appraisal-install:
    parameters:
      appraisal:
        type: string
    steps:
      - run:
          name: Copy lockfile
          command: |
            bundle exec appraisal << parameters.appraisal >>  "cp \$BUNDLE_GEMFILE.lock current_appraisal.gemfile.lock"
      - restore_cache:
          name: Restore Appraisal package cache
          keys:
            - v2-gem-cache-{{ arch }}-{{ .Branch }}-{{ checksum "current_appraisal.gemfile.lock" }}
            - v2-gem-cache-{{ arch }}-{{ .Branch }}-
            - v2-gem-cache-{{ arch }}-
      - run:
          name: Install appraisal dependencies
          command: |
            bundle exec appraisal << parameters.appraisal >> bundle install --jobs=4 --retry=3 --path=../vendor/bundle
            bundle config set --local path "vendor/bundle"
      - save_cache:
          name: Save Appraisal package cache
          key: v2-gem-cache-{{ arch }}-{{ .Branch }}-{{ checksum "current_appraisal.gemfile.lock" }}
          paths:
            - ./vendor/bundle

jobs:
  ruby-test:
    parameters:
      appraisal:
        type: string
    docker:
      - image: circleci/ruby:2.6-node
    # environment:
    #   BUNDLE_PATH: vendor/bundle
    steps:
      - checkout
      - bundle-install
      - appraisal-install:
          appraisal: << parameters.appraisal >>
      - run: bundle config list
      - run: bundle exec appraisal << parameters.appraisal >> bundle config list
      - run: bundle exec appraisal << parameters.appraisal >> rake
  integration-tests:
    parameters:
      appraisal:
        type: string
    docker:
      - image: circleci/ruby:2.6-node
    # environment:
    #   BUNDLE_PATH: vendor/bundle
    steps:
      - bundle-install
      - appraisal-install:
          appraisal: << parameters.appraisal >>
      - gusto/yarn-install
      - run: bundle exec appraisal << parameters.appraisal >> yarn test
      - run: yarn lint
  release:
    docker:
      - image: circleci/ruby:2.6-node
    steps:
      - gusto/semantic-release-ruby

workflows:
  version: 2
  main:
    jobs:
      - gusto/ruby-lint
      - ruby-test:
          matrix:
            parameters:
              appraisal: ["graphql-1.9", "graphql-1.10"]
      # - integration-tests:
      #     matrix:
      #       parameters:
      #         appraisal: ["graphql-1.9", "graphql-1.10"]
      # - release:
      #     filters:
      #       branches:
      #         only: master
      #     requires:
      #       - gusto/ruby-lint
      #       - ruby-test
      #       - integration-tests
