version: 2.1

orbs:
  gusto: gusto/gusto@0.0.13

jobs:
  ruby-test:
    parameters:
      gemfile:
        type: string
    executor: gusto/ruby-2-3
    steps:
      - gusto/bundle-install:
          gemfile: << parameters.gemfile >>
      - run: bundle exec rake
  integration-tests:
    parameters:
      gemfile:
        type: string
    executor: gusto/ruby-2-3
    steps:
      - gusto/bundle-install:
          gemfile: << parameters.gemfile >>
      - gusto/yarn-install
      - run: yarn test
      - run: yarn lint
  release:
    executor: gusto/ruby-2-3
    steps:
      - gusto/semantic-release-ruby

workflows:
  version: 2
  main:
    jobs:
      - gusto/ruby-lint
      - ruby-test:
          matrix:
            parameters:
              gemfile: ["Gemfile", "graphql-1.9.gemfile"]
      - integration-tests:
          matrix:
            parameters:
              gemfile: ["Gemfile", "graphql-1.9.gemfile"]
      - release:
          filters:
            branches:
              only: master
          requires:
            - gusto/ruby-lint
            - ruby-test
            - integration-tests
