version: 2.1

orbs:
  gusto: gusto/gusto@0.0.13

commands:
  bundle-install:
    steps:
      - run:
          name: Configure Bundler
          command: |
            echo 'export BUNDLER_VERSION=$(cat Gemfile.lock | tail -1 | tr -d " ")' >> $BASH_ENV
            source $BASH_ENV
            gem install bundler
      - restore_cache:
          name: Restore Ruby Package Cache
          keys:
            - v6-gem-cache-{{ arch }}-{{ .Branch }}-{{ checksum "Gemfile.lock" }}
            - v6-gem-cache-{{ arch }}-{{ .Branch }}-
            - v6-gem-cache-{{ arch }}-
      - run:
          name: Install base Ruby dependencies
          command: |
            bundle install --jobs=1 --retry=3 --path=vendor/bundle
      - save_cache:
          name: Save Ruby Package Cache
          key: v6-gem-cache-{{ arch }}-{{ .Branch }}-{{ checksum "Gemfile.lock" }}
          paths:
            - ./vendor/bundle
  appraisal-install:
    parameters:
      appraisal:
        type: string
    steps:
      - run:
          name: Copy lockfile
          command: |
            bundle exec appraisal << parameters.appraisal >>  "cp \$BUNDLE_GEMFILE.lock current_appraisal.gemfile.lock"
      - restore_cache:
          name: Restore Appraisal package cache
          keys:
            - v6-gem-cache-{{ arch }}-{{ .Branch }}-{{ checksum "current_appraisal.gemfile.lock" }}
            - v6-gem-cache-{{ arch }}-{{ .Branch }}-
            - v6-gem-cache-{{ arch }}-
      - run:
          name: Install appraisal dependencies
          command: |
            bundle exec appraisal << parameters.appraisal >> bundle install --jobs=1 --retry=3 --path=../vendor/bundle
      - save_cache:
          name: Save Appraisal package cache
          key: v6-gem-cache-{{ arch }}-{{ .Branch }}-{{ checksum "current_appraisal.gemfile.lock" }}
          paths:
            - ./vendor/bundle

jobs:
  ruby-lint:
    docker:
      - image: cimg/ruby:3.3-node
    environment:
      BUNDLE_APP_CONFIG: .bundle
    steps:
      - checkout
      - bundle-install
      - run: bundle exec rubocop
  ruby-test:
    parameters:
      appraisal:
        type: string
      ruby:
        type: string
    docker:
      - image: cimg/ruby:<< parameters.ruby >>-node
    environment:
      BUNDLE_APP_CONFIG: .bundle
    steps:
      - checkout
      - bundle-install
      - appraisal-install:
          appraisal: << parameters.appraisal >>
      - run: bundle config list
      - run: bundle exec appraisal << parameters.appraisal >> bundle config list
      - run: bundle exec appraisal << parameters.appraisal >> rake
  integration-tests:
    parameters:
      appraisal:
        type: string
      ruby:
        type: string
    docker:
      - image: cimg/ruby:<< parameters.ruby >>-node
    environment:
      BUNDLE_APP_CONFIG: .bundle
    steps:
      - checkout
      - bundle-install
      - appraisal-install:
          appraisal: << parameters.appraisal >>
      - gusto/yarn-install
      - run: bundle exec appraisal << parameters.appraisal >> yarn test
      - run: yarn lint
  release:
    docker:
      - image: cimg/ruby:3.3-node
    environment:
      BUNDLE_APP_CONFIG: .bundle
    steps:
      - checkout
      - bundle-install
      - gusto/yarn-install
      - run: npx semantic-release

workflows:
  version: 2
  main:
    jobs:
      - ruby-lint
      - ruby-test:
          matrix:
            parameters:
              appraisal: ['graphql-1.10', 'graphql-1.11', 'graphql-1.12', 'graphql-1.13', 'graphql-2.0']
              ruby: ['3.0', '3.1', '3.2', '3.3', '3.4']
            exclude:
              - appraisal: 'graphql-1.10'
                ruby: ['3.2', '3.3', '3.4']
              - appraisal: 'graphql-1.11'
                ruby: ['3.2', '3.3', '3.4']
              - appraisal: 'graphql-1.12'
                ruby: ['3.2', '3.3', '3.4']
      - integration-tests:
          matrix:
            parameters:
              appraisal: ['graphql-1.10', 'graphql-1.11', 'graphql-1.12', 'graphql-1.13', 'graphql-2.0']
              ruby: ['3.0', '3.1', '3.2', '3.3', '3.4']
            exclude:
              - appraisal: 'graphql-1.10'
                ruby: ['3.2', '3.3', '3.4']
              - appraisal: 'graphql-1.11'
                ruby: ['3.2', '3.3', '3.4']
              - appraisal: 'graphql-1.12'
                ruby: ['3.2', '3.3', '3.4']
      - release:
          requires:
            - ruby-lint
            - ruby-test
            - integration-tests
